<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{#if title}}{{title}} -{{/if}} Schluss</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{notaryUrl}}/style.css">
	<script src="{{notaryUrl}}/schluss-connect.js"  type="text/javascript"></script>
	<style>
		.schluss-qr-container:after {display:none;}
	</style>
</head>
<body>

<div class="layout">
	<div class="box demowarning">
		<div class="center">
			Dit is een demonstratie pagina voor de usecase digitale afhandeling nalatenschappen met behulp van digitale kluis Schluss. Deze pagina biedt geen officiële functionaliteit.
		</div>
	</div>
	<div class="box header">
		<div class="header_wrapper wrapper_large">
			<div class="logo">
				<img src="{{notaryUrl}}/notary-weblogo.png" />
			</div>
			<div class="menu">
				<ul>
					<li><a href="#">Producten</a></li> 
					<li><a href="#">Zoeken en service</a></li> 
					<li><a href="#">Jouw situatie</a></li> 
					<li><a href="#">Mijn Notaris</a></li> 
				</ul>
			</div>
		</div>
	</div>
		{{{body}}}
	<div class="box bottomnav">
	<div class="wrapper_large"> 
	<ul>
		<li><a href="#">Disclaimer</a></li>
		<li><a href="#">Privacy & Cookies</a></li>
		<li><a href="#">Bezoek ons kantoor</a></li>
		<li><a href="#">Over ons</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Werken bij ons</a></li>
		<li><a href="#">Cookies instellen</a></li>
	</ul>
	</div>
	</div>

</div>

</body>
</html>

