/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}details,main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}[hidden],template{display:none}
*{box-sizing:border-box;}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/Roboto-Bold.woff') format('woff'),
       url('/Roboto-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('/Roboto-Regular.woff') format('woff'),
       url('/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
	background-image: url('/sharon-mccutcheon-r6_xcsNg0kw-unsplash.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'Roboto';
	font-style: normal;
	font-size: .9em;

}

b {
	font-family:'Roboto-Bold';
}


.wrapper {

	height: 100vh;
	display: flex;

	/* Direction of the items, can be row or column */
	flex-direction: column;
}

header {
	margin: 20px;

}

header h1 {
	color: #fff;
	margin: 0;
}

footer {
	height: 50px;
	text-align: center;
	color: #fff;
	font-size: 12px;
}

footer a {
	color: #fff;
}

main {
	flex: 1;
}

.container {
	position: relative;
	width: 900px;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	background: #fff;


	border-radius: 12px;
	-webkit-box-shadow: 0 0px 60px 0px rgba(0, 0, 0, .5);
	box-shadow: 0 0px 60px 0px rgba(0, 0, 0, .5);

}

.container::before {

	position: absolute;
	width: 1px;
	border-left: 2px dashed #ccc;
	top: 0;
	left: 448px;
	content: '';
	height: 100%;
}

h1 {
	font-size: 17pt;

	font-family: 'Roboto-Bold';
	display: inline-block;
}

h2 {
	font-size: 20pt;
	font-family: 'Roboto-Bold';
	display: inline-block;
}

.label {
	margin: auto;

	text-align: center;
	font-family: 'Roboto-Bold';
	font-size: 20px;
	width: 40px;
	height: 40px;

	line-height: 35px;
	border-radius: 30px;
	border: 3px solid #ccc;
	background: #ccc;
	color: #fff;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.justify {
	text-align: justify;
}

.row {
	position: relative;
	width: 100%;
}

.row [class^="col"] {
	float: left;

}

.padleft {
	padding-left: 50px;
}

.col-1 {
	width: 25%;
}

.col-2 {
	width: 50%;

}

.col-3 {
	width: 75%;
}

.col-4 {
	width: 100%;
}


.row::after {
	content: "";
	display: table;
	clear: both;
}


.hidden-sm {
	display: none;
}


button {

	margin: 0;
	font-size: .9em;
	display: inline-block;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #666;
	color: #666;
	background: #fff;

	text-align: center;


	cursor: pointer;

	text-decoration: none;
	width: 80px;

	margin-bottom: 5px;
}

button:hover {
	transition: all .2s ease-in-out;
	border-color: #111;
	color: #111;
	background: #fafafa;
}

button.in-vault{
	width:120px;
}

.checked {
	position: relative;
}

.checked::after {
	position: absolute;
	content: '';
	transform: rotate(45deg);
	height: 20px;
	width: 8px;
	right: -30px;
	top: 0px;
	margin-left: 60%;
	border-bottom: 6px solid #65a449;
	border-right: 6px solid #65a449;
}

span.small {
	font-size: .9em;
	color: #aaa;
}

p {
	margin-top: 0;
}


/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.6);
	/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	padding-top: 30px;

	border-radius: 12px;

	width: 300px;
	text-align: center;
	-webkit-box-shadow: 0 23px 39px -24px rgba(0, 0, 0, .5);
	box-shadow: 0 23px 39px -24px rgba(0, 0, 0, .5);
}

/* The Close Button */
.close {
	color: #aaaaaa;
	position: absolute;
	right: 10px;
	top: 0px;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.closeBtn {
	cursor: pointer;
}

.browser-frame {
	margin: auto;
	border-radius: 10px;
	-webkit-box-shadow: 0 23px 39px -24px rgba(0, 0, 0, .5);
	box-shadow: 0 23px 39px -24px rgba(0, 0, 0, .5);
	overflow: hidden;
	width: 90%;
	height: 90%;
	background: #fff;
}

.browser-frame iframe {
	border: 0;
	width: 100%;
	height: 100%;
}


.browser-controls {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: #E6ECEF;
	color: #BEC4C6;
}

.window-controls {
	flex: 0 0 60px;
	margin: 0 2%;
}

.window-controls span {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50px;
	background: #FF8585;
}


.page-controls {
	flex: 0 0 70px;
	margin-right: 2%;
}

.page-controls span {
	display: inline-block;
	width: 30px;
	text-align: center;
	padding-top: 5px;
}

.page-controls span.back:after {
	content: " ";

}

.page-controls span.next:after {
	content: " ";

}

.url-bar {
	flex-grow: 1;
	margin-right: 2%;
	padding: 5px 5px 0 10px;
	font-family: monospace;
	color: #889396;
	overflow: hidden;
}

.url-bar:after {
	content: " ";

	display: block;
	float: right;
	color: #BEC4C6;
}

.full-screen {
	flex: 0 0 30px;
	margin-right: 2%;
}

.full-screen:after {
	content: " ";
	display: block;
	float: right;
	padding: 4px 5px 0 0;
}

.white-container {
	height: 25px;
	border-radius: 3px;
	background: white;
}