
	<script type="text/javascript">

	document.addEventListener("DOMContentLoaded", async function(event) {
	
		const token = uuidv4();
	
		// create config
		let cfg = {
			canvas 		: 'qrContainer',	// id of container element to display the QR code
			configUrl 	: '{{notaryUrl}}/config.json',	    // FULL url to your organisations config.json file
			token 		: token,		// token to identify this session later on
			redirectUrl : 'https://schluss.org/redirect/connect/[token]/[configurl]/[scope]', 
			scope		: 'retrieveVvE',
			size		: 220
		};
				
		// load qr code
		var w = window.SchlussConnect;
		await w.init(cfg);
	});

	function uuidv4() {
	  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
		let r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
		return v.toString(16);
	  });
	}		
	
	</script>
	
	<div class="box banner">
		<div class="banner_title">
		<h1>Verklaring van Erfrecht</h1>
		</div>
	</div>
	<div class="box content center">
		<div class="wrapper_small">
		<p>Scan de QR code met je kluis app om je Verklaring van Erfrecht op te halen</p>
		<p>
			<div id="qrContainer" style="text-align:center;"></div>
			<button class="in-vault" >Open in kluis</button>
		</p>
		</div>
	</div>